.page {
  .mobile-card & {
    overflow: hidden;
    
    @include mq($from: large) {
      overflow: visible;
    }
  }

  // .mobile-list & {
  //   overflow: visible;
  // }

  &__hl {
    background: $content-background;
    margin: 0;
    padding: 15px;
    font-size: 1.5rem;

    @include visually-hidden;

    // @include when-inside('.webclerks') {
    //   @include mq($until: large) {
    //     @include visually-visible;
    //   }
    // }

    @include mq($from: large) {
      @include visually-hidden;
    }

    // .tabs & {
    //   @include visually-hidden;
    // }
  }

}