@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/extrabold.woff2') format('woff2'),
         url('../fonts/extrabold.woff') format('woff');
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/regular.woff2') format('woff2'),
         url('../fonts/regular.woff') format('woff');
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/semibold.woff2') format('woff2'),
         url('../fonts/semibold.woff') format('woff');
}