.site {
  height: 100%;
  font-size: 10px;

  background-color: $brand-color-green;

  &__subline {
    color: #ffffff;
    
    @include mq($until: large) {
      @include visually-hidden;
    }
  }

  &.mobile-card {
    overflow: hidden;
  }
}

.no-svg {
  .site__hl {
    @include visually-visible;
    margin: 0;
    padding: 0 0 30px;

    a:link, 
    a:visited {
      color: #FFF;
    }
  }
}