<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
        <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
            <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip"/>
            <staticTypes>
                <add enabled="true" mimeType="text/*"/>
                <add enabled="true" mimeType="message/*"/>
                <add enabled="true" mimeType="application/javascript"/>
                <add enabled="true" mimeType="application/json"/>
                <add enabled="false" mimeType="*/*"/>
            </staticTypes>
        </httpCompression>
        <httpErrors errorMode="Custom" existingResponse="PassThrough">
            <!-- Catch IIS 404 error due to paths that exist but shouldn't be served (e.g. /controllers, /global.asax) or IIS request filtering (e.g. bin, web.config, app_code, app_globalresources, app_localresources, app_webreferences, app_data, app_browsers) -->
            <remove statusCode="404" subStatusCode="-1"/>
            <error path="/notfound" responseMode="ExecuteURL" statusCode="404" subStatusCode="-1"/>
            <remove statusCode="500" subStatusCode="-1"/>
            <error path="/error" responseMode="ExecuteURL" statusCode="500" subStatusCode="-1"/>
        </httpErrors>
        <directoryBrowse enabled="false"/>
        <validation validateIntegratedModeConfiguration="false"/>
        <!-- Microsoft sets runAllManagedModulesForAllRequests to true by default
             You should handle this according to need, but consider the performance hit.
             Good source of reference on this matter: http://www.west-wind.com/weblog/posts/2012/Oct/25/Caveats-with-the-runAllManagedModulesForAllRequests-in-IIS-78
        -->
        <modules runAllManagedModulesForAllRequests="false"/>
        <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
        <staticContent>
            <!-- Remove ETAG IN IIS >8 ; for IIS 7/7.5 see the Rewrite rules (bigger description of why you might remove etag down there aswell)
            <clientCache setEtag="false"/>
            -->
            <!-- Set expire headers to 30 days for static content-->
            <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
            <!-- use utf-8 encoding for anything served text/plain or text/html -->
            <!-- in the case of .html files; if you AJAX load html files (i.e. in angular) then remove these two lines. -->
            <remove fileExtension=".html"/>
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
            <remove fileExtension=".css"/>
            <mimeMap fileExtension=".css" mimeType="text/css"/>
            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".js" mimeType="text/javascript"/>
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <remove fileExtension=".rss"/>
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
            <remove fileExtension=".xml"/>
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3"/>
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
            <remove fileExtension=".mp4"/>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
            <remove fileExtension=".ogg"/>
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg"/>
            <remove fileExtension=".ogv"/>
            <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
            <remove fileExtension=".webm"/>
            <mimeMap fileExtension=".webm" mimeType="video/webm"/>
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
            <remove fileExtension=".svgz"/>
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot"/>
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
            <remove fileExtension=".ttf"/>
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".ttc"/>
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".otf"/>
            <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
            <remove fileExtension=".woff"/>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
            <remove fileExtension=".woff2"/>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
            <remove fileExtension=".crx"/>
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension"/>
            <remove fileExtension=".xpi"/>
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall"/>
            <remove fileExtension=".safariextz"/>
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream"/>
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv"/>
            <mimeMap fileExtension=".flv" mimeType="video/x-flv"/>
            <remove fileExtension=".f4v"/>
            <mimeMap fileExtension=".f4v" mimeType="video/mp4"/>
            <!-- Assorted types -->
            <remove fileExtension=".ico"/>
            <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
            <remove fileExtension=".webp"/>
            <mimeMap fileExtension=".webp" mimeType="image/webp"/>
            <remove fileExtension=".htc"/>
            <mimeMap fileExtension=".htc" mimeType="text/x-component"/>
            <remove fileExtension=".vcf"/>
            <mimeMap fileExtension=".vcf" mimeType="text/x-vcard"/>
            <remove fileExtension=".torrent"/>
            <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent"/>
            <remove fileExtension=".cur"/>
            <mimeMap fileExtension=".cur" mimeType="image/x-icon"/>
            <remove fileExtension=".webapp"/>
            <mimeMap fileExtension=".webapp" mimeType="application/x-web-app-manifest+json; charset=UTF-8"/>
        </staticContent>
         <rewrite>
          <rules>
            <rule name="rule 1n" stopProcessing="true">
              <match url="^([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page={R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 2n" stopProcessing="true">
              <match url="^events/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=events&amp;city={R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 3n" stopProcessing="true">
              <match url="^events/([a-z0-9-]+)/([0-9]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=events&amp;city={R:1}&amp;year={R:2}"  appendQueryString="true" />
            </rule>
            <rule name="rule 4n" stopProcessing="true">
              <match url="^events/([a-z0-9-]+)/([0-9]+)/([0-9]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=events&amp;city={R:1}&amp;year={R:2}&amp;month={R:3}"  appendQueryString="true" />
            </rule>
            <rule name="rule 5n" stopProcessing="true">
              <match url="^events/([a-z-]+)/([0-9]+)/([0-9]+)/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=events&amp;city={R:1}&amp;year={R:2}&amp;month={R:3}&amp;eventid={R:4}"  appendQueryString="true" />
            </rule>
            <rule name="rule 6n" stopProcessing="true">
              <match url="^news/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=news&amp;category={R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 7n" stopProcessing="true">
              <match url="^news/tag/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=news&amp;tag={R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 8n" stopProcessing="true">
              <match url="^news/([a-z0-9-]+)/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=news&amp;category={R:1}&amp;slug={R:2}"  appendQueryString="true" />
            </rule>
            <rule name="rule 9n" stopProcessing="true">
              <match url="^meetup/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=meetup&amp;category={R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 10n" stopProcessing="true">
              <match url="^meetup/([a-z0-9-]+)/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=meetup&amp;category={R:1}&amp;slug={R:2}"  appendQueryString="true" />
            </rule>
            <rule name="rule 11n" stopProcessing="true">
              <match url="^webclerks/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=webclerks&amp;person={R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 12n" stopProcessing="true">
              <match url="^webclerks/([a-z0-9-]+)/([a-z0-9-]+)/?$"  ignoreCase="true" />
              <action type="Rewrite" url="/index.php?page=webclerks&amp;person={R:1}&amp;slug={R:2}"  appendQueryString="true" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>