.skip-links {
  @include list-reset;

  position: absolute;
  right: 30px;
  top: 30px;

  @media only all {
    top: 0;
    right: 0;
  
    &__link {
      position: absolute;
      left: -10000px;
      top: auto;

      width: 1px;
      height: 1px;
    }
  }
}